<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.traffic.laneinfo.mapper.TrafficLaneInfoMapper">

    <resultMap type="TrafficLaneInfo" id="TrafficLaneInfoResult">
        <result property="deviceId" column="device_id"/>
        <result property="laneId" column="lane_id"/>
        <result property="crossingId" column="crossing_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="state" column="state"/>
        <result property="flag" column="flag"/>
        <association property="trafficCrossingInfo" column="crossing_id" javaType="TrafficCrossingInfo"
                     resultMap="TrafficCrossingInfoResult"/>
        <association property="trafficServerInfo" column="server_id" javaType="TrafficServerInfo"
                     resultMap="TrafficServerInfoResult"/>
        <association property="trafficDeviceInfo" column="device_id" javaType="TrafficDeviceInfo"
                     resultMap="TrafficDeviceInfoResult"/>
        <association property="trafficChannelInfo" column="channel_id" javaType="TrafficChannelInfo"
                     resultMap="TrafficChannelInfoResult"/>
    </resultMap>
    <resultMap type="TrafficCrossingInfo" id="TrafficCrossingInfoResult">
        <result property="crossingId" column="crossing_id"/>
        <result property="crossingName" column="crossing_name"/>
        <result property="tdasServerId" column="tdas_server_id"/>
    </resultMap>
    <resultMap type="TrafficServerInfo" id="TrafficServerInfoResult">
        <id property="serverId" column="server_id"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
    <resultMap type="TrafficDeviceInfo" id="TrafficDeviceInfoResult">
        <id property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="typeCode" column="type_code"/>
        <result property="ipAddr" column="dev_ip_addr"/>
        <result property="port" column="dev_port"/>
        <result property="userName" column="user_name"/>
        <result property="passWord" column="pass_word"/>
        <result property="loginId" column="login_id"/>
    </resultMap>
    <resultMap type="TrafficChannelInfo" id="TrafficChannelInfoResult">
        <id property="channelId"    column="channel_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="loginId"    column="login_id"    />
        <result property="chanName"    column="chan_name"    />
        <result property="chanIndex"    column="chan_index"    />
    </resultMap>
    <sql id="selectTrafficLaneInfoVo">
        select l.device_id,
               l.lane_id,
               l.crossing_id,
               l.channel_id,
               l.state,
               l.flag,
               c.crossing_bh,
               c.crossing_name,
               c.tdas_server_id,
               s.ip_addr,
               s.username,
               s.password,
               d.type_code,
               d.ip_addr as dev_ip_addr,
               d.port as dev_port,
               d.login_id,
               d.user_name,
               d.pass_word,
               n.chan_index
        from traffic_lane_info l
                 left join traffic_crossing_info c on c.crossing_id = l.crossing_id
                 left join traffic_server_info s on c.tdas_server_id = s.server_id
                 left join traffic_device_info d on d.device_id = l.device_id
                 left join traffic_channel_info n on n.channel_id = l.channel_id
    </sql>

    <select id="selectTrafficLaneInfoList" parameterType="TrafficLaneInfo" resultMap="TrafficLaneInfoResult">
        <include refid="selectTrafficLaneInfoVo"/>
        <where>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="crossingId != null  and crossingId != ''">and crossing_id = #{crossingId}</if>
            <if test="channelId != null  and channelId != ''">and channel_id = #{channelId}</if>
            <if test="state != null  and state != ''">and state = #{state}</if>
            <if test="flag != null  and flag != ''">and flag = #{flag}</if>
        </where>
    </select>
    <select id="selectTrafficLaneInfoListByCrossingId" parameterType="Long" resultMap="TrafficLaneInfoResult">
        <include refid="selectTrafficLaneInfoVo"/>
        <where>
            <if test="crossingId != null  and crossingId != ''">and c.crossing_id = #{crossingId}</if>
        </where>
    </select>
    <select id="selectTrafficLaneInfoByLaneId" parameterType="String" resultMap="TrafficLaneInfoResult">
        <include refid="selectTrafficLaneInfoVo"/>
        where lane_id = #{laneId}
    </select>
    <select id="selectTrafficLaneInfoByChanId" parameterType="Long" resultMap="TrafficLaneInfoResult">
        <include refid="selectTrafficLaneInfoVo"/>
        where channel_id = #{chanId}
    </select>

    <select id="selectTrafficLaneInfoByCrossingId" parameterType="Long" resultMap="TrafficLaneInfoResult">
        <include refid="selectTrafficLaneInfoVo"/>
        where c.crossing_id = #{crossingId}
    </select>

    <insert id="insertTrafficLaneInfo" parameterType="TrafficLaneInfo" useGeneratedKeys="true" keyProperty="laneId">
        insert into traffic_lane_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="crossingId != null">crossing_id,</if>
            <if test="channelId != null">channel_id,</if>
            <if test="state != null">state,</if>
            <if test="flag != null">flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="crossingId != null">#{crossingId},</if>
            <if test="channelId != null">#{channelId},</if>
            <if test="state != null">#{state},</if>
            <if test="flag != null">#{flag},</if>
        </trim>
    </insert>

    <update id="updateTrafficLaneInfo" parameterType="TrafficLaneInfo">
        update traffic_lane_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="crossingId != null">crossing_id = #{crossingId},</if>
            <if test="channelId != null">channel_id = #{channelId},</if>
            <if test="state != null">state = #{state},</if>
            <if test="flag != null">flag = #{flag},</if>
        </trim>
        where lane_id = #{laneId}
    </update>

    <delete id="deleteTrafficLaneInfoByLaneId" parameterType="String">
        delete
        from traffic_lane_info
        where lane_id = #{laneId}
    </delete>
    <delete id="deleteTrafficLaneInfoByCrossingId" parameterType="Long">
        delete
        from traffic_lane_info
        where crossing_id = #{CrossingId}
    </delete>
    <delete id="deleteTrafficLaneInfoByLaneIds" parameterType="String">
        delete from traffic_lane_info where lane_id in
        <foreach item="laneId" collection="array" open="(" separator="," close=")">
            #{laneId}
        </foreach>
    </delete>

</mapper>