<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改服务器管理')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-serverinfo-edit"  th:object="${trafficServerInfo}" >
        <input name="serverId" th:field="*{serverId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">服务器类型：</label>
            <div class="col-sm-8">
                <select th:id="serverType" name="serverType" class="form-control m-b" disabled readonly>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">服务器名称：</label>
            <div class="col-sm-8">
                <input name="serverName" th:field="*{serverName}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">服务器IP：</label>
            <div class="col-sm-8">
                <input name="ipAddr" th:field="*{ipAddr}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">服务器端口：</label>
            <div class="col-sm-8">
                <input name="port" th:field="*{port}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名：</label>
            <div class="col-sm-8">
                <input name="username" th:field="*{username}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密码：</label>
            <div class="col-sm-8">
                <input name="password" th:field="*{password}" class="form-control" type="text" required>
            </div>
        </div>
        <div th:id="tdhs" class="form-group">
            <label class="col-sm-3 control-label">数据处理服务器：</label>
            <div class="col-sm-8">
                <select th:id="tdhsServerId" name="tdhsServerId" class="tdhs form-control m-b" >
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div th:id="minio" class="form-group">
            <label class="col-sm-3 control-label">图片存储服务器：</label>
            <div class="col-sm-8">
                <select th:id="minioServerId" name="minioServerId" class="minio form-control m-b" >
                    <option value=""></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-css"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
    var prefix = ctx + "traffic/serverinfo";
    /*表单校验*/
    $("#form-serverinfo-edit").validate({
        tdhsServerId: {
            required: true
        },
        minioServerId: {
            required: true
        },
        focusCleanup: true
    });

    /*初始化*/
    $(function () {
        /*服务类型下拉*/
        var serverType = [[${serverType}]];
        $("#serverType").select2({
            placeholder: "请选择",
            language: "zh-CN",
            data: serverType
        });
        /*选中修改服务*/
        var serverType=[[${trafficServerInfo.getServerType()}]];
        $("#serverType").select().val(serverType).trigger("change").change();

        serverHidden();
    });

    /*隐藏判断*/
    function serverHidden() {
       // 直接返回获取tdhs
        var tdhsdata = [[${tdhsList}]];
        $('#tdhsServerId').select2({
            placeholder: "请选择",
            language: "zh-CN",
            data:tdhsdata
        });
        /*选中tdhs服务*/
        var tdhsInfo=[[${tdhsInfo}]];
        $("#tdhsServerId").select().val(tdhsInfo.serverId).trigger("change").change();

        // 直接返回获取minio
        var miniodata = [[${minioList}]];
        $('#minioServerId').select2({
            placeholder: "请选择",
            language: "zh-CN",
            data:miniodata
        });
        /*选中minio服务*/
        var minioInfo=[[${minioInfo}]];
        $("#minioServerId").select().val(minioInfo.serverId).trigger("change").change();

        var select = document.getElementById("serverType").value;
        var tdhs = $("div#tdhs");
        var minio = $("div#minio");

        if (select == (0)) {
            minio.hide();

        } else if (select == (2) || select == (3)) {
            tdhs.hide();
            minio.hide();
            document.getElementById("tdhsServerId").options.length = 0;
            document.getElementById("minioServerId").options.length = 0;
        } else {
            tdhs.show();
            minio.show();
        }
    }
    /*disable传值*/

    $("[disabled]").each(function() {
        if (parseInt($(this).val()) != -1) {
            $(this).attr("disabled", false);
        }
    });
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-serverinfo-edit').serialize());
        }
    }
</script>
</body>
</html>